@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: linear-gradient(#ffffff,
      #fcebe5);
  /* background-color: #ffe8db; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color: rgb(201, 201, 201);
  z-index: -1
}